* {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #ffcc02;
}

h1,
h2,
h3 {
  text-align: center;
}

header {
  border: 10px solid #ffcc02; /* UCF Gold */
  background-color:#404040; /* Dark Gray */
}

section {
  height: 400px;
  width: 80%;
  margin: 30px auto;
  border: 10px solid black;
  background-color: #404040;
}

img {
  width: 300px;  
} 

/* Relative positioning */
#relative-box {
  position: relative;
  left: 200px;
}

/* Absolute positioning */
#absolute-section {
  position: relative;
}

#absolute-box {
  position: absolute;
  top: 50px;
  right: 100px;
}

/* Fixed positioning */
#fixed-box {
  position: fixed;
  bottom: 0;
  right: 0;
}
